<ion-view title="Account aanmaken">
	<ion-content class="app-content wPadding">
		<form id="login-form" ng-submit="processForm()" ng-controller="CreateAccountCtrl">
			<fieldset>
				<h2 class="title">Account aanmaken</h2>
				
				<label>Voornaam</label>
				<input type="text" name="firstName" placeholder="Voornaam" ng-model="formData.firstName" autocapitalize="on" spellcheck="false">
				
				<label>Achternaam</label>
				<input type="text" name="email" placeholder="Achternaam" ng-model="formData.lastName" autocapitalize="on" spellcheck="false">
				
				<label>Email</label>
				<input type="email" name="email" placeholder="Email adres" ng-model="formData.email" spellcheck="false">
				
				<label>Paswoord</label>
				<input type="password" name="password" placeholder="Paswoord" ng-model="formData.password">
				
				<label>Paswoord opnieuw invullen</label>
				<input type="password" name="password" placeholder="Paswoord" ng-model="formData.passwordCheck">
				
				<!--<label>Paswoord opnieuw typen</label>
				<input type="password" name="password" placeholder="Paswoord opnieuw typen" ng-model="formData.password">-->
				
				<div class="center-block align-middle width-100">
					<div class="text-center width-100">
						<button type="submit" class="btn btn-solid bgGreen">Aanmaken</button>
					</div>
				</div>
			</fieldset>
		</form>
	</ion-content>
</ion-view>