<ion-view title="Wachtwoord vergeten">
	<ion-content class="app-content wPadding">
		<div class="intro-block text-center">
				<p>Vult hier onder jouw e-mail adres in om je wachtwoord op te vragen.</p>
			</div>
			<form id="login-form" ng-submit="processForm()" ng-controller="ForgotPasswordCtrl">
				<fieldset>
					<h2 class="title">Wachtwoord opvragen</h2>
					
					<label>E-mail adres</label>
					<input type="email" name="email" placeholder="E-mail adres" ng-model="formData.email">
					
					<div class="center-block align-middle width-100">
						<div class="text-center width-100">
							<button type="submit" class="btn btn-solid bgGreen">Versturen</button>
						</div>
					</div>
				</fieldset>
			</form>
	</ion-content>
</ion-view>