<ion-view title="Scanned product" ng-controller="ProductCtrl">
	<ion-content class="app-content">
		<div class="scanned-product">
				<div class="center-block align-top">
					<div class="product-img">
						<img src="data/images/skin/temp/product.png" alt="product" width="37" height="86">
					</div>
					<div class="product-details">
						<h2>{{product.product.name}}</h2>
						<table>
							<tr>
								<td class="title">
									Type
								</td>
								<td>
									{{product.product.category}}
								</td>
							</tr>
							<tr>
								<td class="title">
									Bio
								</td>
								<td>
									Ja
								</td>
							</tr>
							<tr>
								<td class="title">
									Afkomst
								</td>
								<td>
									Verenigde Staten
								</td>
							</tr>
							<tr>
								<td class="title">
									Transport
								</td>
								<td>
									<span class="icon-plane"></span> 4.534 km
								</td>
							</tr>
							<tr>
								<td class="title">
									Seizoensproduct
								</td>
								<td>
									nee
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="footprint bgRed">
					<div class="center-block align-middle">
						<div>
							<span class="wrapper">
								<p class="icon-plane">10 <span class="unit">m&sup2;/kg</span></p>
							</span>
							<span class="wrapper">
								<p class="icon-package">1.2 <span class="unit">m&sup2;/kg</span></p>
							</span>
							<span class="wrapper">
								<p class="icon-season">2 <span class="unit">m&sup2;/kg</span></p>
							</span>
						</div>
						<div class="text-right">
							<span class="wrapper">
								<p>Totaal: 13 <span class="unit">m&sup2;/kg</span></p>
							</span>
						</div>
					</div>
					<div class="center-block align-middle">
						<div>
							<span class="wrapper">
								<p class="icon-storage">2 <span class="unit">m&sup2;/kg</span></p>
							</span>
							<span class="wrapper">
								<p class="icon-ingredients">6.2 <span class="unit">m&sup2;/kg</span></p>
							</span>
						</div>
					</div>
				</div>
				<div class="summary text-center">
					<p>Dit product heeft een <span class="cRed"><b>hoge ecologische voetafdruk</b></span>.<br>Hieronder vindt u een aantal vergelijkbare producten die minder wegen op het klimaat.</p>
				</div>
			</div>
			<ul class="table-view">
				<li>
					<div class="center-block align-middle">
						<div class="product-img">
							<img src="data/images/skin/temp/product.png" alt="product" width="37" height="86">
						</div>
						<div class="product-info">
							<h2 class="cGreen">Oxfam fruitsap</h2>
							<div class="center-block align-middle">
								<div>
									<img src="data/images/skin/temp/flag.svg" alt="USA" width="17" height="17">
								</div>
								<div>
									<p>Totaal: 13 <span class="unit">m&sup2;/kg</span></p>
								</div>
							</div>
						</div>
						<div class="icon-placeholder text-right">
							<span class="icon-right cGreen"></span>
						</div>
					</div>
				</li>
				<li>
					<div class="center-block align-middle">
						<div class="product-img">
							<img src="data/images/skin/temp/product.png" alt="product" width="37" height="86">
						</div>
						<div class="product-info">
							<h2 class="cGreen">Oxfam fruitsap</h2>
							<div class="center-block align-middle">
								<div>
									<img src="data/images/skin/temp/flag.svg" alt="USA" width="17" height="17">
								</div>
								<div>
									<p>Totaal: 13 <span class="unit">m&sup2;/kg</span></p>
								</div>
							</div>
						</div>
						<div class="icon-placeholder text-right">
							<span class="icon-right cGreen"></span>
						</div>
					</div>
				</li>
				<li>
					<div class="center-block align-middle">
						<div class="product-img">
							<img src="data/images/skin/temp/product.png" alt="product" width="37" height="86">
						</div>
						<div class="product-info">
							<h2 class="cGreen">Oxfam fruitsap</h2>
							<div class="center-block align-middle">
								<div>
									<img src="data/images/skin/temp/flag.svg" alt="USA" width="17" height="17">
								</div>
								<div>
									<p>Totaal: 13 <span class="unit">m&sup2;/kg</span></p>
								</div>
							</div>
						</div>
						<div class="icon-placeholder text-right">
							<span class="icon-right cGreen"></span>
						</div>
					</div>
				</li>
				<li>
					<div class="center-block align-middle">
						<div class="product-img">
							<img src="data/images/skin/temp/product.png" alt="product" width="37" height="86">
						</div>
						<div class="product-info">
							<h2 class="cGreen">Oxfam fruitsap</h2>
							<div class="center-block align-middle">
								<div>
									<img src="data/images/skin/temp/flag.svg" alt="USA" width="17" height="17">
								</div>
								<div>
									<p>Totaal: 13 <span class="unit">m&sup2;/kg</span></p>
								</div>
							</div>
						</div>
						<div class="icon-placeholder text-right">
							<span class="icon-right cGreen"></span>
						</div>
					</div>
				</li>
			</ul>
				
	</ion-content>
</ion-view>