<ion-view title="progress"  ng-controller="ProgressCtrl">

	<ion-nav-buttons side="left">
		<!--<button class="button btn-clean icon-add" ng-click="toggleAddWrapper()"></button>-->
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<!--<button class="button btn-clean icon-settings"></button>-->
	</ion-nav-buttons>
	
	<ion-content class="has-tabs hide-tabs-landscape">
	
		<div id="swipe-position" class="swipe-position hide-on-landscape">
			<span class="on"></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	
		<div id="swipe" class="swipe hide-on-landscape">
	
			<div class="swipe-wrap" ng-controller="AccCtrl">
				<!-- TOTAAL -->
				<div>
					<section  class="app-content wSmallPadding">
						<div class="content-wrapper wPadding">
							<h1 class="title"><span>Totaal</span></h1>
							<div class="content-block">
								<div class="center-block width-100 align-middle">
									<div>
										<button type="button" class="icon-info popup-trigger" ng-click="openPopup($event)" data-title="Globale resultaten" data-text="Je voetafdruk bestaat uit vier categorieën: mobiliteit (wagen, openbaar vervoer en vliegtuig), energie woning (verwarming en elektriciteit), consumptie (voeding en goederen) en diensten. Voor een Belg bedraagt de voetafdruk van diensten reeds 0,8 planeten. Dit is het aantal planeten nodig voor overheidsadministratie, openbare diensten, defensie, onderwijs, gezondheidszorg, financiële/verzekeringsdiensten, cultuur, recreatie, communicatie,…"></button>
									</div>
									<div class="text-right">
										<span class="icon-rotate">bekijk detail</span>
									</div>
								</div>
								<div class="row">
									<div class="col col-50">
										<div class="chart">
											<canvas id="chart-total" width="125" height="125" class="chart"></canvas>
											<div class="counter">
												<div class="center-block align-middle expand">
													<div class="text-center">
														<span class="total">
															{{dataTotal.footprint_total}}<br><span>Planeten</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div id="footprint" class="footprint">
											<div class="clearfix">
												<span ng-repeat="i in totalPlanets(dataTotal.footprint_total) track by $index" class="icon-earth"></span>
											</div>
										</div>
									</div>
									<div class="col col-50">
										<div class="progress-bars">
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-car-alt"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgBlue" data-value="{{dataTotal.footprint_mobility}}"  style="width:{{dataTotal.TOTAL.chart.mobility_100}}%;">
													</div>
													<div class="progress-bar average" style="width:{{dataTotal.TOTAL.chart.mobility_100_gem}}%;">
													</div>
												</div>
											</div>
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-house-alt"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgYellow" data-value="{{dataTotal.footprint_energy}}" style="width:{{dataTotal.TOTAL.chart.energy_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.TOTAL.chart.energy_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-food small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgPink" data-value="{{dataTotal.footprint_consumption}}" style="width:{{dataTotal.TOTAL.chart.consumption_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.TOTAL.chart.consumption_100_gem}}%;">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content-block">
								<h2 class="subtitle has-lines cGrey">Tips</h2>
								<ul class="list accordion">
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">01.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">02.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">03.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">04.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">05.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
				</div>
				
				<!-- MOBILITEIT -->
				<div>
					<section  class="app-content wSmallPadding">
						<div class="content-wrapper wPadding">
							<h1 class="title"><span class="icon-car-alt cBlue">Mobiliteit</span></h1>
							<div class="content-block">
								<div class="center-block width-100 align-middle">
									<div class="text-right">
										<span class="icon-rotate">bekijk detail</span>
									</div>
								</div>
								<div class="row">
									<div class="col col-50">
										<div class="chart">
											<canvas id="chart-mobility" width="125" height="125" class="chart"></canvas>
											<div class="counter">
												<div class="center-block align-middle expand">
													<div class="text-center">
														<span class="total">
															{{dataTotal.footprint_mobility}}<br><span>Planeten</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div id="footprint" class="footprint">
											<div class="clearfix">
												<span ng-repeat="i in totalPlanets(dataTotal.footprint_mobility) track by $index" class="icon-earth"></span>
											</div>
										</div>
									</div>
									<div class="col col-50">
										<div class="progress-bars">
										
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-car small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgBlue-index-0" data-value="{{dataTotal.MOBILITY.footprint_car}}" style="width:{{dataTotal.MOBILITY.chart.car_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.MOBILITY.chart.car_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-bus small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgBlue-index-1" data-value="{{dataTotal.MOBILITY.footprint_public}}" style="width:{{dataTotal.MOBILITY.chart.public_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.MOBILITY.chart.public_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-plane small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgBlue-index-2" data-value="{{dataTotal.MOBILITY.footprint_plane}}"  style="width:{{dataTotal.MOBILITY.chart.plane_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.MOBILITY.chart.plane_100_gem}}%;">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content-block">
								<h2 class="subtitle has-lines cGrey">Tips</h2>
								<ul class="list accordion">
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">01.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">02.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">03.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">04.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">05.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
				</div>
				
				<!-- WONEN -->
				<div>
					<section  class="app-content wSmallPadding">
						<div class="content-wrapper wPadding">
							<h1 class="title"><span class="icon-house-alt cYellow">Wonen</span></h1>
							<div class="content-block">
								<div class="center-block width-100 align-middle">
									<div class="text-right">
										<span class="icon-rotate">bekijk detail</span>
									</div>
								</div>
								<div class="row">
									<div class="col col-50">
										<div class="chart">
											<canvas id="chart-energy" width="125" height="125" class="chart"></canvas>
											<div class="counter">
												<div class="center-block align-middle expand">
													<div class="text-center">
														<span class="total">
															{{dataTotal.footprint_energy}}<br><span>Planeten</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div id="footprint" class="footprint">
											<div class="clearfix">
												<span ng-repeat="i in totalPlanets(dataTotal.footprint_energy) track by $index" class="icon-earth"></span>
											</div>
										</div>
									</div>
									<div class="col col-50">
										<div class="progress-bars">
										
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-electricity small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgYellow-index-0" data-value="{{dataTotal.ENERGY.footprint_elec}}" style="width:{{dataTotal.ENERGY.chart.elec_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.ENERGY.chart.elec_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-heating small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgYellow-index-1" data-value="{{dataTotal.ENERGY.footprint_heat}}" style="width:{{dataTotal.ENERGY.chart.heat_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.ENERGY.chart.heat_100_gem}}%;">
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="content-block">
								<h2 class="subtitle has-lines cGrey">Tips</h2>
								<ul class="list accordion">
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">01.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">02.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">03.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">04.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">05.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
				</div>
				
				<!-- CONSUMPTIE -->
				<div>
					<section  class="app-content wSmallPadding">
						<div class="content-wrapper wPadding">
							<h1 class="title"><span class="icon-food cPink">Consumptie</span></h1>
							<div class="content-block">
								<div class="center-block width-100 align-middle">
									<div class="text-right">
										<span class="icon-rotate">bekijk detail</span>
									</div>
								</div>
								<div class="row">
									<div class="col col-50">
										<div class="chart">
											<canvas id="chart-consumption" width="125" height="125" class="chart"></canvas>
											<div class="counter">
												<div class="center-block align-middle expand">
													<div class="text-center">
														<span class="total">
															{{dataTotal.footprint_consumption}}<br><span>Planeten</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div id="footprint" class="footprint">
											<div class="clearfix">
												<span ng-repeat="i in totalPlanets(dataTotal.footprint_consumption) track by $index" class="icon-earth"></span>
											</div>
										</div>
									</div>
									<div class="col col-50">
										<div class="progress-bars">
										
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-package small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgPink-index-0" data-value="{{dataTotal.CONSUMPTION.footprint_package}}" style="width:{{dataTotal.CONSUMPTION.chart.package_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.CONSUMPTION.chart.package_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-truck small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgPink-index-1" data-value="{{dataTotal.CONSUMPTION.footprint_transport}}" style="width:{{dataTotal.CONSUMPTION.chart.transport_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.CONSUMPTION.chart.transport_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-storage small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgPink-index-2" data-value="{{dataTotal.CONSUMPTION.footprint_storage}}" style="width:{{dataTotal.CONSUMPTION.chart.storage_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.CONSUMPTION.chart.storage_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-season small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgPink-index-3" data-value="{{dataTotal.CONSUMPTION.footprint_season}}" style="width:{{dataTotal.CONSUMPTION.chart.season_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.CONSUMPTION.chart.season_100_gem}}%;">
													</div>
												</div>
											</div>
											
											<div class="cats center-block align-middle">
												<div class="graphic">
													<span class="icon-ingredients small"></span>
												</div>
												<div class="bar-wrapper">
													<div class="progress-bar bgPink-index-4" data-value="{{dataTotal.CONSUMPTION.footprint_ingredients}}" style="width:{{dataTotal.CONSUMPTION.chart.ingredients_100}}%;">
													</div>
													<div class="progress-bar average"  style="width:{{dataTotal.CONSUMPTION.chart.ingredients_100_gem}}%;">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content-block">
								<h2 class="subtitle has-lines cGrey">Tips</h2>
								<ul class="list accordion">
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">01.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">02.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">03.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">04.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
									<li class="acc-wrapper icon-right">
										<div class="acc-title">
											<h3><span class="bullet-numeric">05.</span>Rij trager</h3>
										</div>
										<div class="acc-content">
											<p>DIY Austin pug roof party, iPhone Odd Future jean shorts master cleanse. Chambray Odd Future ugh, Tonx pickled salvia flexitarian gastropub Godard butcher bicycle rights DIY art party vinyl. Trust fund church-key slow-carb, +1 whatever salvia pour-over synth brunch bicycle rights tousled craft beer flexitarian hella Carles.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
				</div>
			
			</div>
		</div>
		
		<div id="graphs" class="graphs hide-on-portrait">
			<div class="cats total on">
				<div class="graph-header">
					<div class="center-block width-100">
						<div class="text-center">
							<h3 class="cDarkGrey"><span class="cGrey">Totaal</span></h3>
						</div>
					</div>
				</div>
				<div class="scroll-wrapper">
					<ion-scroll direction="x" class="graph overflow-scroll">
						<div class="periods center-block align-bottom">
							<div class="period-wrapper height-100" ng-repeat="data in dataTotal.TOTAL.graph">
								<div class="period center-block align-bottom" data-date="{{data.DATE}}" style="height:{{data.height_100}}%;width:{{data.width}}px;">
									<div class="categories">
										<div class="category consumption" style="height:{{data.consumption_100}}%;"></div>
										<div class="category energy" style="height:{{data.energy_100}}%;"></div>
										<div class="category mobility" style="height:{{data.mobility_100}}%;"></div>
										<!--<div class="category services"></div>-->
										<div class="category average"></div>
									</div>
								</div>
							</div>
						</div>
					</ion-scroll>
				</div>
				<div class="legend center-block width-100 align-middle">
					<div class="text-center">
						<p><span class="color-legend index-0"></span> Mobiliteit</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-1"></span> Energie</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-2"></span> Consumptie</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend services"></span> Vaste voetafdruk</p>
					</div>
					<div class="text-center">
						<p><span class="line-legend average"></span> Voetafdruk gemiddelde Belg</p>
					</div>
				</div>
			</div>
			<div class="cats mobility">
				<div class="graph-header">
					<div class="center-block width-100">
						<div class="text-center">
							<h3 class="cDarkGrey"><span class="cBlue icon-car-alt">Mobiliteit</span></h3>
						</div>
					</div>
				</div>
				<div class="scroll-wrapper">
					<ion-scroll direction="x" class="graph overflow-scroll">
						
						<div class="periods center-block align-bottom">
							<div class="period-wrapper height-100" ng-repeat="data in dataTotal.MOBILITY.graph">
								<div class="period center-block align-bottom" data-date="{{data.DATE}}" style="height:{{data.height_100}}%;width:{{data.width}}px;">
									<div class="categories">
										<div class="category index-2" style="height:{{data.plane_100}}%;"></div>
										<div class="category index-1" style="height:{{data.public_100}}%;"></div>
										<div class="category index-0" style="height:{{data.car_100}}%;"></div>
										<!--<div class="category services"></div>
										<div class="category average"></div>-->
									</div>
								</div>
							</div>
						</div>
						
					</ion-scroll>
				</div>
				<div class="legend center-block width-100 align-middle">
					<div class="text-center">
						<p><span class="color-legend index-0"></span> Wagen</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-1"></span> Openbaar vervoer</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-2"></span> Vluchten</p>
					</div>
					<!--<div class="text-center">
						<p><span class="color-legend services"></span> Vaste voetafdruk</p>
					</div>
					<div class="text-center">
						<p><span class="line-legend average"></span> Voetafdruk gemiddelde Belg</p>
					</div>-->
				</div>
			</div>
			<div class="cats energy">
				<div class="graph-header">
					<div class="center-block width-100">
						<div class="text-center">
							<h3 class="cDarkGrey"><span class="cYellow icon-house-alt">Energie</span></h3>
						</div>
					</div>
				</div>
				<div class="scroll-wrapper">
					<ion-scroll direction="x" class="graph overflow-scroll">
						
						<div class="periods center-block align-bottom">
							<div class="period-wrapper height-100" ng-repeat="data in dataTotal.ENERGY.graph">
								<div class="period center-block align-bottom" data-date="{{data.DATE}}" style="height:{{data.height_100}}%;width:{{data.width}}px;">
									<div class="categories">
										<div class="category index-1" style="height:{{data.heat_100}}%;"></div>
										<div class="category index-0" style="height:{{data.elec_100}}%;"></div>
										<!--<div class="category services"></div>
										<div class="category average"></div>-->
									</div>
								</div>
							</div>
						</div>
						
					</ion-scroll>
				</div>
				<div class="legend center-block width-100 align-middle">
					<div class="text-center">
						<p><span class="color-legend index-0"></span> Elektriciteit</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-1"></span> Verwarming</p>
					</div>
					<!--<div class="text-center">
						<p><span class="color-legend services"></span> Vaste voetafdruk</p>
					</div>
					<div class="text-center">
						<p><span class="line-legend average"></span> Voetafdruk gemiddelde Belg</p>
					</div>-->
				</div>
			</div>
			<div class="cats consumption">
				<div class="graph-header">
					<div class="center-block width-100">
						<div class="text-center">
							<h3 class="cDarkGrey"><span class="cPink icon-food">Consumptie</span></h3>
						</div>
					</div>
				</div>
				<div class="scroll-wrapper">
					<ion-scroll direction="x" class="graph overflow-scroll">
						
						<div class="periods center-block align-bottom">
							<div class="period-wrapper height-100" ng-repeat="data in dataTotal.CONSUMPTION.graph">
								<div class="period center-block align-bottom" data-date="{{data.DATE}}" style="height:{{data.height_100}}%;width:{{data.width}}px;">
									<div class="categories">
										<div class="category index-4" style="height:{{data.ingredients_100}}%;"></div>
										<div class="category index-3" style="height:{{data.season_100}}%;"></div>
										<div class="category index-2" style="height:{{data.storage_100}}%;"></div>
										<div class="category index-1" style="height:{{data.transport_100}}%;"></div>
										<div class="category index-0" style="height:{{data.package_100}}%;"></div>
										<!--<div class="category services"></div>
										<div class="category average"></div>-->
									</div>
								</div>
							</div>
						</div>
						
					</ion-scroll>
				</div>
				<div class="legend center-block width-100 align-middle">
					<div class="text-center">
						<p><span class="color-legend index-0"></span> Verpakking</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-1"></span> Transport</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-2"></span> Bewaring</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-3"></span> Seizoen</p>
					</div>
					<div class="text-center">
						<p><span class="color-legend index-4"></span> Ingrediënten</p>
					</div>
				</div>
			</div>
		</div>
		
	</ion-content>
	
	<div class="tabs green-tab hide-on-landscape">
		<!--<div class="sub-tab">
			<ul>
				<li>
					<a href="#update" class="btn icon-car-alt">Mobiliteit</a>
				</li>
				<li>
					<a href="#update" class="btn icon-house-alt">Wonen</a>
				</li>
				<li>
					<a href="#update" class="btn icon-food"></a>
				</li>
			</ul>
		</div>-->
		<ul>
			<li>
				<span ng-click="scan()" class="btn icon-scanner">scannen</span>
			</li>
			<li>
				<a href="#update" class="btn icon-update">update</a>
			</li>
		</ul>
	</div>
</ion-view>